/***************************** Starter Pack *****************************/
:root {
    --nav-h: 50px;
    --fond-color: #191919;
    --aside-color: #e8e8e8;
    --border--elt-color: #A4A4A4;
    --element-background-color: #262626;
    --text-color: #eeeeee;
    --max-with-content: calc(100% - 240px);

}

body {
    background-color: var(--fond-color) !important;
    min-height: 100vh;
    width: 100%;
}

#wrapper {
    width: 100%;
    background-color: var(--fond-color);
    color: var(--text-color);
    min-height: 80vh;

}

#corpsPage {
    width: 100%;
    min-height: 80vh;
}

#contenuPage {
    width: 80%;
    max-width: var(--max-with-content);
    float: right;
    padding: 2%;

}

footer {
    width: 80%;
    float: right;
    text-align: center;
    color: white;

    & #copyright {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    background-color: var(--element-background-color);
}

/*************************************************************************************************/

/***************************** Side bar *****************************/

#menuAside {
    background-color: var(--element-background-color);
    width: 20%;
    z-index: 1;
    max-height: 92%;
    min-width: 235px;
    border-bottom-right-radius: 20px;
    top: 50px;

    & h5,
    a {
        color: var(--aside-color);
        text-decoration: none;
    }
}

#compteUserBurger {
    display: none;
}

#selectAffichage {
    color: var(--aside-color);
    font-size: 1.5em;
    padding: 0 0.3rem;
    border: solid 1px var(--border--elt-color);
    border-radius: 10px;
    opacity: 0.5;
}

.sectionBurger {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    padding: 5%;
    border-bottom: solid 2px #3d3d3d;

    & h5 {
        width: 100%;
    }
}

.actionBurger {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    & p {
        margin: 0 0.5em;
    }
}

/*************************************************************************************************/

/***************************** Nav *****************************/
header {
    height: var(--nav-h);
}

#navigation {
    width: 100vw;
    margin-bottom: var(--nav-h);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--element-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);

    & a {
        text-decoration: none;
        color: var(--text-color);
    }
}

#LogoSite {
    width: 50px;
    margin-left: 30px;
}

#nomFoyer {
    margin: 0 auto;
}

#compteUser {
    display: flex;
    align-items: center;
    margin-right: 6%;

    & #boutonUser {
        display: flex;
        align-items: center;

        & #textePhotoUser {
            margin-bottom: 0;
            margin-left: 10px;
        }

        & #photoUser {
            background-color: white;
            border-radius: 50%;
            width: 50px;
        }
    }

    & #boutonDeconnection {
        margin-left: 20px;
    }
}

#boutonBurger {
    display: none;
}

/*************************************************************************************************/

/***************************** Authentification & inscription *****************************/
#formLogBlock {
    position: fixed;
    width: 60%;
    right: 20%;
    top: 20%;


    & p {
        text-align: end;
    }
}

#formaddBlock {
    position: fixed;
    width: 60%;
    right: 20%;
    top: 10%;

}

/*************************************************************************************************/

/***************************** Accueil *****************************/

#listeModulesAccueil {
    display: flex;
    flex-wrap: wrap;

    & .card {
        width: 16rem;
        height: 16rem;
        margin: 1rem 1rem;
        margin-bottom: 1.5rem;
        text-align: center;
        justify-content: center;
        background-color: var(--element-background-color);

        & .card-img-overlay {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.2);

            .card-title {
                font-size: 2.5rem;
            }
        }
    }
}




/*************************************************************************************************/

/***************************** Foyer *****************************/
#listeFoyers {
    display: flex;
    flex-wrap: wrap;

    .selected {
        border: solid 4px #0D6EFD;
    }
}

.mesFoyers {
    width: 18rem !important;
    margin: 2%;
    color: var(--text-color);
}

.actionAdminFoyer {
    display: flex;
    justify-content: space-between;
}



/*************************** Form update Foyer ***************************/
#foyerUpdateForm {
    position: fixed;
    z-index: 21;
    background-color: var(--element-background-color);
    color: var(--text-color);
    max-width: 60vw;
    top: 20vh;
    left: 38vw;
    border-radius: 15px;
    padding: 4%;
}

#exitForm {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
}

/*************************** User of Foyer ***************************/
.userOfFoyer {
    width: 12rem;
    margin: 0.5em 1em;
    color: var(--text-color);
}

#addUserToFoyer {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 1rem;
}

#updateRoleForm {
    position: fixed;
    z-index: 21;
    background-color: var(--element-background-color);
    color: white;
    max-width: 60vw;
    top: 20vh;
    left: 38vw;
    border-radius: 15px;
    padding: 4%;
}

#userAddSearch {
    margin-bottom: 1rem;
}


/*************************************************************************************************/

/***************************** Modules *****************************/

/***************************** Modules Form */
#ajoutModuleForm {
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 50rem;
}

/***************************** Modules Tableau de bord */
#listeModulesTB {
    display: flex;
    flex-wrap: wrap;
}

.eltTablBord {
    width: 12rem;
    margin: 1rem;
    color: var(--text-color);

    & .card-img-top {
        height: 12rem;
    }

    & .card-title {
        margin-bottom: 0;
    }

    & ul {
        background-color: var(--element-background-color);
        border-color: var(--border--elt-color) !important;

        li {
            border-color: var(--border--elt-color);
            background-color: var(--element-background-color);
            color: var(--text-color);
        }
    }

    & .actionTablBord {
        display: flex;
        justify-content: space-between;

        & a {
            align-self: center;
        }
    }
}

/*************************************************************************************************/

/***************************** User profil *****************************/
/************************** Profil utilisateur */
.profilcard {
    max-width: 20rem;

    & img {
        background-color: white;
        border-radius: 50%;
    }

    & h4 {
        color: var(--text-color);
    }
}




/*************************************************************************************************/
/***************************** Responsive *****************************/
/*************************************************************************************************/

/***************************** Smartphone **********************************************************/
@media screen and (max-width:900px) and (orientation : portrait) {

    /***************************** Starter Pack *****************************/
    :root {
        --nav-h: 50px;
        --max-with-content: 100%;

    }

    #corpsPage {
        width: 100%;
        min-height: 80vh;
    }

    #contenuPage {
        width: 100%;
        max-width: var(--max-with-content);
        margin-left: 0;
        padding: 2%;

    }

    footer {
        width: 100%;
        margin-left: 0;
        text-align: center;
        color: white;

        & #copyright {
            margin-bottom: 0;
        }
    }

    .card {
        background-color: var(--element-background-color);
    }

    /*************************************************************************************************/
    /***************************** Side bar *****************************/

    #menuAside {
        width: 70%;
        z-index: 1041;
        min-width: 235px;
        top: 50px;
    }

    #compteUserBurger {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 10% 0 0 0;
        padding: 5%;
        border-bottom: solid 2px #3d3d3d;

        & figure {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }

        & #boutonUser {
            display: flex;
            align-items: center;
            margin-right: 6%;

            & #photoUser {
                max-width: 3rem;

                & img {
                    background-color: white;
                    border-radius: 50%;
                }
            }

            & #textePhotoUser {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
    }

    /*************************************************************************************************/

    /***************************** Nav *****************************/
    header {
        height: var(--nav-h);
    }

    #navigation {
        margin-bottom: var(--nav-h);
        z-index: 1041;
    }

    #LogoSite {
        max-width: 50px;
        max-height: 50px;
        margin-left: 20px;
    }

    #compteUser {
        display: none;

    }

    #boutonBurger {
        display: flex;
        font-size: 2rem;
        margin-right: 20px;
        width: 28px;
        height: 32px;
    }

    /*************************************************************************************************/

    /***************************** Authentification & inscription *****************************/
    #formLogBlock {
        position: fixed;
        width: 80%;
        right: 10%;

        & .formLog {
            margin-bottom: 20%;
        }

        & p {
            text-align: center;
        }

        & button {
            margin-left: calc(100% - 74px);
        }
    }

    #formaddBlock {
        width: 80%;
        right: 10%;

        & button {
            margin-left: calc(100% - 74px);
        }
    }

    /*************************************************************************************************/
    /***************************** Accueil *****************************/

    #listeModulesAccueil {
        justify-content: center;

        & .card {
            width: 12rem;
            height: 12rem;
            margin: 0.5rem auto;
        }
    }

    /*************************************************************************************************/

    /***************************** Foyer *****************************/
    #listeFoyers {
        justify-content: center;
    }

    .mesFoyers {
        width: 16rem !important;
        margin: 2% auto;
    }

    #foyerCreationForm {
        max-width: 90%;
        margin: 2rem auto;

        & .btn {
            float: right;
            margin: 1.5rem 1.5rem 0 0;
        }
    }

    /*************************** Form update Foyer ***************************/
    #foyerUpdateForm {
        max-width: 80vw;
        top: 25vh;
        left: 10vw;
        border-radius: 15px;
        padding: 4%;

        & .btn-primary {
            float: right;
        }
    }

    /*************************** User of Foyer ***************************/
    .userOfFoyer {
        width: 12rem;
        margin: 0.5em auto;
    }

    #addUserToFoyer {
        margin-top: 1rem;
    }

    #updateRoleForm {
        max-width: 80vw;
        top: 25vh;
        left: 10vw;

        & .btn-primary {
            float: right;
        }
    }

    #userAddSearch {
        margin-bottom: 1rem;
    }

    /*************************************************************************************************/
    /***************************** Modules *****************************/

    /***************************** Modules Form */
    #nav-tab {
        font-size: 1rem;
    }

    #ajoutModuleForm {
        margin: 0.5rem auto;
        max-width: 40rem;

        & .mb-3 {
            margin-bottom: 2rem !important;
        }

        & .btn-primary {
            margin-inline-start: 75%;
        }

    }

    /***************************** Modules Tableau de bord */

    .eltTablBord {
        margin: 1rem auto;
    }

    /*************************************************************************************************/

    /***************************** User profil *****************************/
    /************************** Profil utilisateur */
    .profilcard {
        max-width: 20rem;
        margin: 1rem auto;
    }

}